.text-with-gradient {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
}

.text-with-gradient::after {
  content: '';
  flex-grow: 1; 
  margin-left: 10px;
  height: 3px;
  background: linear-gradient(to right, #0c6dfd, #084298);
}
