.hover-underline:hover {
  text-decoration: underline;
  text-decoration-color: #ff9c2a;
  transition: border-bottom 0.3s;
}


.dropdown-menu .dropdown-item.active,
.dropdown-menu .dropdown-item:active {
  background-color: #e68a00; 
  color: white; 
}

.custom-btn-group {
  margin: 0;
  padding: 0;
}

.custom-dropdown-toggle {
  margin: 0;
  padding: 0; 
}

.dropdown-menu {
  margin-top: 0; 
}
