/* Other styles remain the same */
.hover-underline:hover {
  text-decoration: underline;
  text-decoration-color: #ff9c2a;
  transition: border-bottom 0.3s;
}

/* Override Bootstrap Dropdown Active Link Style */
.dropdown-menu .dropdown-item.active,
.dropdown-menu .dropdown-item:active {
  background-color: #e68a00; /* Custom active background color */
  color: white; /* Custom active text color */
}

.custom-btn-group {
  margin: 0;
  padding: 0;
}

.custom-dropdown-toggle {
  margin: 0;
  padding: 0; /* Adjust padding for button size */
}

.dropdown-menu {
  margin-top: 0; /* Remove space between button and dropdown */
}
